IBM Project/Covid-Risk-Analyzer (NodeRed Flow).json
[{"id":"a2b04df3.736ca","type":"tab","label":"Flow 1","disabled":false,"info":""},
 {"id":"4b00c74a.f7d2d8","type":"cloudant out","z":"a2b04df3.736ca","name":"risk_score_db","cloudant":"","database":"covid_risk","service":"covid-risk-analyzer--cloudant-1603219889666-80001","payonly":false,"operation":"insert","x":812.0000076293945,"y":72.00000762939453,"wires":[]},
 {"id":"163826bf.b566b9","type":"ui_form","z":"a2b04df3.736ca","name":"risk_score_form","label":"Your Scores:","group":"30b371b1.28600e","order":2,"width":0,"height":0,"options":[{"label":"Symptoms (avg)","value":"q1","type":"number","required":true,"rows":null},
 {"label":"Close Contact","value":"q2","type":"number","required":true,"rows":null},
 {"label":"Occupation","value":"q3_1","type":"number","required":true,"rows":null},
 {"label":"Work Location","value":"q3_2","type":"number","required":true,"rows":null},
 {"label":"Travel Location (avg)","value":"q4","type":"number","required":true,"rows":null},
 {"label":"Home Location","value":"q5","type":"number","required":true,"rows":null},
 {"label":"Diseases","value":"q6","type":"number","required":true,"rows":null}
],
 {"formValue":{"q1":"","q2":"","q3_1":"","q3_2":"","q4":"","q5":"","q6":""},"payload":"","submit":"Calculate Score","cancel":"Clear","topic":"","x":350,"y":207.00000381469727,"wires":[["4b00c74a.f7d2d8","4617c190.f9fe"]]},
 {"id":"4d9e26cf.5c82e8","type":"ui_template","z":"a2b04df3.736ca","group":"30b371b1.28600e","name":"Watson Assistant","order":5,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<script>\n  window.watsonAssistantChatOptions = {\n      integrationID: \"b0ae5f0d-5f6c-4e54-9d3a-c000a0096b8b\", // The ID of this integration.\n      region: \"eu-gb\", // The region your integration is hosted in.\n      serviceInstanceID: \"75980f2e-aa89-4419-9885-3c9be0c8312b\", // The ID of your service instance.\n      onLoad: function(instance) { instance.render(); }\n    };\n  setTimeout(function(){\n    const t=document.createElement('script');\n    t.src=\"https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js\";\n    document.head.appendChild(t);\n  });\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":799.6000595092773,"y":404.4000053405762,"wires":[[]]},
 {"id":"6f9953fb.2e410c","type":"ui_text","z":"a2b04df3.736ca","group":"30b371b1.28600e","order":3,"width":0,"height":0,"name":"","label":"Total Score:","format":"{{msg.payload.avg}}","layout":"row-left","x":346.60005950927734,"y":403.4000062942505,"wires":[]},
 {"id":"4617c190.f9fe","type":"function","z":"a2b04df3.736ca","name":"","func":"v1 = msg.payload.q1;\nv2 = msg.payload.q2;\nv3 = msg.payload.q3_1;\nv4 = msg.payload.q3_2;\nv5 = msg.payload.q4;\nv6 = msg.payload.q5;\nv7 = msg.payload.q6;\ntot = v1+v2+v3+v4+v5+v6+v7;\navg = tot/7;\nmsg.payload.avg = avg\nif(avg<33.34)\n msg.payload.lvl = \"Low Risk Group\";\nelse if(avg>33.34 && avg<66.67)\n msg.payload.lvl = \"Medium Risk Group\";\nelse\n msg.payload.lvl = \"High Risk Group\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350.6000061035156,"y":306.4000053405762,"wires":[["6f9953fb.2e410c","79486aab.3384d4","4b00c74a.f7d2d8"]]},
 {"id":"79486aab.3384d4","type":"ui_text","z":"a2b04df3.736ca","group":"30b371b1.28600e","order":4,"width":0,"height":0,"name":"","label":"Risk Level: ","format":"{{msg.payload.lvl}}","layout":"row-left","x":536.6000061035156,"y":402.0000057220459,"wires":[]},
 {"id":"b92538bd.2b8168","type":"ui_text","z":"a2b04df3.736ca","group":"30b371b1.28600e","order":1,"width":0,"height":0,"name":"Insructions","label":"To begin, click on the chatbot icon on the bottom right corner!","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":120,"wires":[]},
 {"id":"30b371b1.28600e","type":"ui_group","z":"","name":"Covid Risk Calculator","tab":"8d89102b.3cf4b","order":1,"disp":true,"width":"6","collapse":false},
 {"id":"8d89102b.3cf4b","type":"ui_tab","z":"","name":"Covid Risk Analyzer","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
